<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>台北一日遊</title>
</head>
<body>
    <script src="{{ url_for('static', filename='parsing_data17.js') }}"></script>
    <!-- <script src="parsing_data3.js"></script> -->
    <div class="nav">
        <div class="nav-content">
            <span class="nav-title">台北一日遊</span>
            <ul class="nav-item">
                <li>預定行程</li>
                <li>登入/註冊</li>
            </ul>
        </div>
    </div>

    <div class="banner">
        <div class="banner-content">
            <div>
                <p class='banner-title'>輕鬆享受台北一日悠閒</p>
                <p class="banner-subtitle">探索每個角落，體驗城市的深度旅遊行程</p>
                <div class="banner-search">
                    <input type="text" placeholder="輸入景點名稱查詢">
                    <button type='submit' class="banner-button">
                        <img src="{{ url_for('static', filename='search.png')}}" alt="">
                    </button>
                </div>
            </div>
        </div>
        <div class="banner-image">
            <img src="{{ url_for('static', filename='welcome.png')}}" alt="">
        </div>
    </div>
    
    <table>
    </table> 

    
</body>
</html>